html {
    font-size: 16px;
    font-family: sans-serif;
    background-color: black;
    color: yellowgreen;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.clock {
    font-family: monospace;
    font-size: 10vw;
}